@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(MaterialIcons-Regular-e79bfd88537def476913f3ed52f4f4b3.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular-570eb83859dc23dd0eec423a49e147fe.woff2) format('woff2'),
       url(MaterialIcons-Regular-012cf6a10129e2275d79d6adac7f3b02.woff) format('woff'),
       url(MaterialIcons-Regular-a37b0c01c0baf1888ca812cc0508f6e2.ttf) format('truetype');
}

